In [1]:
#Import Library

import pandas as pd
import numpy as np

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. 
You can think of it like a spreadsheet or SQL table. 

Pandas dataframe can be created in various ways.
importing from csv files.
from Python Datastructures such as Lists, dict, Series.
from Numpy ndarrays
and another DataFrame

## Dataframe from csv file

In [2]:
#Creating Pandas DataFrame from csv file

df = pd.read_csv('data/advertising.csv') #df is the variable commonly used for dataframe
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [3]:
print(df['TV'])

print(df[['TV', 'Sales']])

0      230.1
1       44.5
2       17.2
3      151.5
4      180.8
       ...
195     38.2
196     94.2
197    177.0
198    283.6
199    232.1
Name: TV, Length: 200, dtype: float64
        TV  Sales
0    230.1   22.1
1     44.5   10.4
2     17.2   12.0
3    151.5   16.5
4    180.8   17.9
..     ...    ...
195   38.2    7.6
196   94.2   14.0
197  177.0   14.8
198  283.6   25.5
199  232.1   18.4

[200 rows x 2 columns]

## Dataframe from Dictionary

Dictionary is a built-in Python Data structure.
We can create Pandas dataframe from dictionary

In [4]:
#Dictionary is a built-in Python Data structure

dict = {"country": ["Brazil", "Vietnam", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Hanoi", "New Dehli", "Beijing", "Pretoria"] }

print("Dictionary :\n\n", dict)

#Creating Pandas dataframe from dictionary

df = pd.DataFrame(dict)

print("\nDataFrame :\n", df)

Dictionary :

 {'country': ['Brazil', 'Vietnam', 'India', 'China', 'South Africa'], 'capital': ['Brasilia', 'Hanoi', 'New Dehli', 'Beijing', 'Pretoria']}

DataFrame :
         country    capital
0        Brazil   Brasilia
1       Vietnam      Hanoi
2         India  New Dehli
3         China    Beijing
4  South Africa   Pretoria

In [5]:
#print column 'country'
country=df["country"]
print(country)

0          Brazil
1         Vietnam
2           India
3           China
4    South Africa
Name: country, dtype: object

In [6]:
#print columns 'country' and 'capital'

country_capital= df[['country', 'capital']]
print(country_capital)

        country    capital
0        Brazil   Brasilia
1       Vietnam      Hanoi
2         India  New Dehli
3         China    Beijing
4  South Africa   Pretoria

## Dataframe from List

List is a built-in Python Data structure.
We can create Pandas dataframe from List

In [7]:
L =["Brazil", "Vietnam", "India", "China", "South Africa"]

print("List :\n\n", L)

#Creating Pandas series from dictionary

countries = pd.Series(L)

print("\nSeries :\n", countries)

List :

 ['Brazil', 'Vietnam', 'India', 'China', 'South Africa']

Series :
 0          Brazil
1         Vietnam
2           India
3           China
4    South Africa
dtype: object

In [8]:
L2 =[["Brazil", "Brasilia"],["Vietnam","Hanoi"],["India","New Dehli"],["China","Beijing"],["South Africa", "Pretoria"]]

print("List :\n\n", L2)

#Creating Pandas series from dictionary

countries_capital = pd.Series(L2)

print("\nSeries :\n", countries_capital)

List :

 [['Brazil', 'Brasilia'], ['Vietnam', 'Hanoi'], ['India', 'New Dehli'], ['China', 'Beijing'], ['South Africa', 'Pretoria']]

Series :
 0          [Brazil, Brasilia]
1            [Vietnam, Hanoi]
2          [India, New Dehli]
3            [China, Beijing]
4    [South Africa, Pretoria]
dtype: object

# Indexing Data Frames

In [9]:
df = pd.read_csv('data/advertising.csv') 

# Print out first 4 observations
print(df[0:4])

# Print out fifth and sixth observation
print(df[4:6])

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
      TV  Radio  Newspaper  Sales
4  180.8   10.8       58.4   17.9
5    8.7   48.9       75.0    7.2

In [10]:
#Location based Indexing

#print fourth column

sales=df.iloc[:,3]

print(sales)

0      22.1
1      10.4
2      12.0
3      16.5
4      17.9
       ...
195     7.6
196    14.0
197    14.8
198    25.5
199    18.4
Name: Sales, Length: 200, dtype: float64

## DataFrame Columns to Numpy Arrays

In [11]:
#convert sales column to numpy array

sales_arr= sales.to_numpy()

print(sales_arr)

print("\nDimensions of sales array", sales_arr.ndim)
print('\nShape of sales array:', sales_arr.shape)

[22.1 10.4 12.  16.5 17.9  7.2 11.8 13.2  4.8 15.6 12.6 17.4  9.2 13.7
 19.  22.4 12.5 24.4 11.3 14.6 18.  17.5  5.6 20.5  9.7 17.  15.  20.9
 18.9 10.5 21.4 11.9 13.2 17.4 11.9 17.8 25.4 14.7 10.1 21.5 16.6 17.1
 20.7 17.9  8.5 16.1 10.6 23.2 19.8  9.7 16.4 10.7 22.6 21.2 20.2 23.7
  5.5 13.2 23.8 18.4  8.1 24.2 20.7 14.  16.  11.3 11.  13.4 18.9 22.3
 18.3 12.4  8.8 11.  17.   8.7  6.9 14.2  5.3 11.  11.8 17.3 11.3 13.6
 21.7 20.2 12.  16.  12.9 16.7 14.   7.3 19.4 22.2 11.5 16.9 16.7 20.5
 25.4 17.2 16.7 23.8 19.8 19.7 20.7 15.   7.2 12.   5.3 19.8 18.4 21.8
 17.1 20.9 14.6 12.6 12.2  9.4 15.9  6.6 15.5  7.  16.6 15.2 19.7 10.6
  6.6 11.9 24.7  9.7  1.6 17.7  5.7 19.6 10.8 11.6  9.5 20.8  9.6 20.7
 10.9 19.2 20.1 10.4 12.3 10.3 18.2 25.4 10.9 10.1 16.1 11.6 16.6 16.
 20.6  3.2 15.3 10.1  7.3 12.9 16.4 13.3 19.9 18.  11.9 16.9  8.  17.2
 17.1 20.   8.4 17.5  7.6 16.7 16.5 27.  20.2 16.7 16.8 17.6 15.5 17.2
  8.7 26.2 17.6 22.6 10.3 17.3 20.9  6.7 10.8 11.9  5.9 19.6 17.3  7.6
 14.  14.8 25.5 18.4]

Dimensions of sales array 1

Shape of sales array: (200,)

In [14]:
#convert one dimensional sales array to 2-D array with 1 column and 200 rows

sales_arr= sales_arr.reshape(-1,1)

print(sales_arr)

print("\nDimensions of sales array", sales_arr.ndim)
print('\nShape of sales array:', sales_arr.shape)

[[22.1]
 [10.4]
 [12. ]
 [16.5]
 [17.9]
 [ 7.2]
 [11.8]
 [13.2]
 [ 4.8]
 [15.6]
 [12.6]
 [17.4]
 [ 9.2]
 [13.7]
 [19. ]
 [22.4]
 [12.5]
 [24.4]
 [11.3]
 [14.6]
 [18. ]
 [17.5]
 [ 5.6]
 [20.5]
 [ 9.7]
 [17. ]
 [15. ]
 [20.9]
 [18.9]
 [10.5]
 [21.4]
 [11.9]
 [13.2]
 [17.4]
 [11.9]
 [17.8]
 [25.4]
 [14.7]
 [10.1]
 [21.5]
 [16.6]
 [17.1]
 [20.7]
 [17.9]
 [ 8.5]
 [16.1]
 [10.6]
 [23.2]
 [19.8]
 [ 9.7]
 [16.4]
 [10.7]
 [22.6]
 [21.2]
 [20.2]
 [23.7]
 [ 5.5]
 [13.2]
 [23.8]
 [18.4]
 [ 8.1]
 [24.2]
 [20.7]
 [14. ]
 [16. ]
 [11.3]
 [11. ]
 [13.4]
 [18.9]
 [22.3]
 [18.3]
 [12.4]
 [ 8.8]
 [11. ]
 [17. ]
 [ 8.7]
 [ 6.9]
 [14.2]
 [ 5.3]
 [11. ]
 [11.8]
 [17.3]
 [11.3]
 [13.6]
 [21.7]
 [20.2]
 [12. ]
 [16. ]
 [12.9]
 [16.7]
 [14. ]
 [ 7.3]
 [19.4]
 [22.2]
 [11.5]
 [16.9]
 [16.7]
 [20.5]
 [25.4]
 [17.2]
 [16.7]
 [23.8]
 [19.8]
 [19.7]
 [20.7]
 [15. ]
 [ 7.2]
 [12. ]
 [ 5.3]
 [19.8]
 [18.4]
 [21.8]
 [17.1]
 [20.9]
 [14.6]
 [12.6]
 [12.2]
 [ 9.4]
 [15.9]
 [ 6.6]
 [15.5]
 [ 7. ]
 [16.6]
 [15.2]
 [19.7]
 [10.6]
 [ 6.6]
 [11.9]
 [24.7]
 [ 9.7]
 [ 1.6]
 [17.7]
 [ 5.7]
 [19.6]
 [10.8]
 [11.6]
 [ 9.5]
 [20.8]
 [ 9.6]
 [20.7]
 [10.9]
 [19.2]
 [20.1]
 [10.4]
 [12.3]
 [10.3]
 [18.2]
 [25.4]
 [10.9]
 [10.1]
 [16.1]
 [11.6]
 [16.6]
 [16. ]
 [20.6]
 [ 3.2]
 [15.3]
 [10.1]
 [ 7.3]
 [12.9]
 [16.4]
 [13.3]
 [19.9]
 [18. ]
 [11.9]
 [16.9]
 [ 8. ]
 [17.2]
 [17.1]
 [20. ]
 [ 8.4]
 [17.5]
 [ 7.6]
 [16.7]
 [16.5]
 [27. ]
 [20.2]
 [16.7]
 [16.8]
 [17.6]
 [15.5]
 [17.2]
 [ 8.7]
 [26.2]
 [17.6]
 [22.6]
 [10.3]
 [17.3]
 [20.9]
 [ 6.7]
 [10.8]
 [11.9]
 [ 5.9]
 [19.6]
 [17.3]
 [ 7.6]
 [14. ]
 [14.8]
 [25.5]
 [18.4]]

Dimensions of sales array 2

Shape of sales array: (200, 1)